.idea
.phpintel
.vscode
/code/node_modules
/code/public/hot
/code/public/uploads
/code/public/certificates
/code/storage/*.key
/code/storage/logs
/code/vendor
/code/.env
/code/.env.backup
/code/.phpunit.result.cache
/code/Homestead.json
/code/Homestead.yaml
/code/npm-debug.log
/code/yarn-error.log
/docker-volumes-data/redis/*
/docker-volumes-data/db/*
/docker-volumes-data/full_sqlsrv/*
/docker-volumes-data/sqlsrv/*
/docker-volumes-data/elasticsearch/*

/docker
/docker-compose-dev.yml
/docker-compose.yml
/docker-sync.yml
.env
/composer.json

/docker/php/*
/docker/php/Dockerfile

/code/storage/logs/*
/code/storage/logs/supervisord.logs
code/storage/logs/supervisord.log

/docker-volumes-data/elasticsearch/*